src/main/resources/dag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Service"
 targetNamespace="http://tempuri.org/dag.xsd/Service.wsdl"
 xmlns:tns="http://tempuri.org/dag.xsd/Service.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:dag="http://tempuri.org/dag.xsd"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://tempuri.org/dag.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:dag="http://tempuri.org/dag.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <!-- operation request element -->
  <element name="SendVehicleWeightEx">
   <complexType>
    <sequence>
     <element name="VehicleWeightInfo" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- dag__SendVehicleWeightEx::VehicleWeightInfo -->
     <element name="PlatePicData" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="true"/><!-- dag__SendVehicleWeightEx::PlatePicData -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SendVehicleWeightExResponse">
   <complexType>
    <sequence>
     <element name="ResPond" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- dag__SendVehicleWeightEx::ResPond -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SendVehicleWeight">
   <complexType>
    <sequence>
     <element name="VehicleWeightInfo" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- dag__SendVehicleWeight::VehicleWeightInfo -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SendVehicleWeightResponse">
   <complexType>
    <sequence>
     <element name="ResPond" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- dag__SendVehicleWeight::ResPond -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SendDeviceState">
   <complexType>
    <sequence>
     <element name="DeviceState" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- dag__SendDeviceState::DeviceState -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SendDeviceStateResponse">
   <complexType>
    <sequence>
     <element name="ResPond" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- dag__SendDeviceState::ResPond -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SynTime">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SynTimeResponse">
   <complexType>
    <sequence>
     <element name="ResPond" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- dag__SynTime::ResPond -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="SendVehicleWeightExRequest">
 <part name="parameters" element="dag:SendVehicleWeightEx"/><!-- dag__SendVehicleWeightEx::dag__SendVehicleWeightEx -->
</message>

<message name="SendVehicleWeightExResponse">
 <part name="parameters" element="dag:SendVehicleWeightExResponse"/>
</message>

<message name="SendVehicleWeightRequest">
 <part name="parameters" element="dag:SendVehicleWeight"/><!-- dag__SendVehicleWeight::dag__SendVehicleWeight -->
</message>

<message name="SendVehicleWeightResponse">
 <part name="parameters" element="dag:SendVehicleWeightResponse"/>
</message>

<message name="SendDeviceStateRequest">
 <part name="parameters" element="dag:SendDeviceState"/><!-- dag__SendDeviceState::dag__SendDeviceState -->
</message>

<message name="SendDeviceStateResponse">
 <part name="parameters" element="dag:SendDeviceStateResponse"/>
</message>

<message name="SynTimeRequest">
 <part name="parameters" element="dag:SynTime"/><!-- dag__SynTime::dag__SynTime -->
</message>

<message name="SynTimeResponse">
 <part name="parameters" element="dag:SynTimeResponse"/>
</message>

<portType name="ServicePortType">
 <operation name="SendVehicleWeightEx">
  <documentation>Service definition of function dag__SendVehicleWeightEx</documentation>
  <input message="tns:SendVehicleWeightExRequest"/>
  <output message="tns:SendVehicleWeightExResponse"/>
 </operation>
 <operation name="SendVehicleWeight">
  <documentation>Service definition of function dag__SendVehicleWeight</documentation>
  <input message="tns:SendVehicleWeightRequest"/>
  <output message="tns:SendVehicleWeightResponse"/>
 </operation>
 <operation name="SendDeviceState">
  <documentation>Service definition of function dag__SendDeviceState</documentation>
  <input message="tns:SendDeviceStateRequest"/>
  <output message="tns:SendDeviceStateResponse"/>
 </operation>
 <operation name="SynTime">
  <documentation>Service definition of function dag__SynTime</documentation>
  <input message="tns:SynTimeRequest"/>
  <output message="tns:SynTimeResponse"/>
 </operation>
</portType>

<binding name="Service" type="tns:ServicePortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="SendVehicleWeightEx">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="SendVehicleWeight">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="SendDeviceState">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="SynTime">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
</binding>

<service name="Service">
 <documentation>gSOAP 2.8.6 generated service definition</documentation>
 <port name="Service" binding="tns:Service">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
